<div style="text-align: right; line-height: 2em">
  <!-- Stores the selected language -->
  {% capture p_slug %}{{ page.lang }}{% endcapture %}

  <!-- Posts: Sets which button is active  -->
  {% assign posts = site.posts | where:"ref", page.ref | sort: 'lang' %}
  {% for post in posts %}
    {% if p_slug == post.lang %}
      <button class="btn btn-sm btn-primary btn-raised">{{ post.lang }}</button>
    {% else %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-sm btn-default btn-raised">{{ post.lang }}</a>
    {% endif %}
  {% endfor %}

  <!-- Pages: Sets which button is active  -->
  {% assign pages = site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for page in pages %}
    {% if p_slug == page.lang %}
      <button class="btn btn-sm btn-primary btn-raised">{{ page.lang }}</button>
    {% else %}
      <a href="{{ page.url | prepend: site.baseurl }}" class="btn btn-sm btn-default btn-raised">{{ page.lang }}</a>
    {% endif %}
  {% endfor %}

  <!-- Projects: Sets which button is active  -->
  {% assign projects = site.projects | where:"ref", page.ref %}
  {% for project in projects %}
    {% if p_slug == project.lang %}
      <button class="btn btn-sm btn-primary btn-raised">{{ project.lang }}</button>
    {% else %}
      <a href="{{ project.url | prepend: site.baseurl }}" class="btn btn-sm btn-default btn-raised">{{ project.lang }}</a>
    {% endif %}
  {% endfor %}
</div>
